@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    background-image: url('../images/plant\ back\ 4.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    font-family: 'Dosis';
}
.directionals{
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    left: 8%;
    top: -2%;
    color: bisque;
    font-size: 1.8em;
    padding-top: 2%;
}

a{
    text-decoration: none;
}
a:link{
    color: bisque;
}
a:visited{
    color: bisque;
}
a:hover{
    color: indianred;
}
.hSmall, .aSmall, .cSmall, .pSmall{
    font-size: .5em;
}

.aboutBox{
    margin-top: 8%; 
    margin-left: 5%;
    border: solid 3px #fff8f1;
    border-radius: 20px;
    height: 60vh;
    width: 37%;
    padding-left: 4%;
    padding-right: 4%;
    padding-top: 2%;
    background-color: #fff8f1;
    box-shadow: 8px 7px #e3d4d4;
    
    
}
img{
    width: 175px;
    height: 230px;
    float: left;
    padding-right: 4%;
    padding-bottom: 3%;
    border-radius: 50%;
}
h1{
    
    color: #2F2C2C;
}
p{
    color: #2F2C2C;
    font-size: 1em;
    text-align: justify;
    padding-top: 3%;
    
}
.loveText{
    color: tomato;
}

footer{
    color: bisque;
    background-color: indianred;
    text-align: center;
    padding-top: .5%;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
    font-size: .8em;
    letter-spacing: 4px;
    opacity: .8;
}