@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@500&display=swap');

body{
    display: flex;
    min-height: 100vh;
    background-image: url('../images/plant\ back\ 4.jpeg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    font-family: 'Dosis';
}

.directionals{
    display: flex;
    justify-content: center;
    gap: 50px;
    position: absolute;
    left: 12%;
    top: -2%;
    color: bisque;
    font-size: 1.8em;
}

a{
    text-decoration: none;
}

a:visited{
    color: bisque;
}
a:hover{
    color: indianred;
}
.hSmall, .aSmall, .cSmall, .pSmall{
    font-size: .5em;
}

.heading{
    position: absolute;
    top: 18%;
    color: bisque;
    letter-spacing: 4px;
    font-size: 1.2rem;
    transform: translate(50%,-50%);
    background: linear-gradient(315deg, bisque 0%, bisque 74%);
    background-clip: text;
   -webkit-background-clip: text;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    animation: floating 2s ease-in forwards ;
}
 
@keyframes floating{
    from {transform: translate(26%, -26px);
    opacity: 0;
    }
    to {transform: translate(26%, -26px);
    opacity: 1;}
}

.contactBoxes{
    display: flex;
    position: absolute;
    top: 34%;
    left: 12%;
    flex-direction: column;
    gap: 20px;
}

img{
    width: 70px;
    height: 70px;
}
.emailBox, .liBox, .ghBox {
    width: 350px;
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #fff8f1;
    box-shadow: 6px 6px #e3d4d4;
}

.emailText{
    font-size: 1.3em;
    letter-spacing: 2px;
    color: indianred
}
.emailBox img{
    width: 40px;
    height: 40px;
    padding-left: 1%;
    padding-right: 1%;
}

.liBox:hover{
    background-color: #f19c9cec;
}
.ghBox:hover{
    background-color: #f19c9cec;
}